.Main{
  margin-top: 10px;
}

.ContactInfo{
    margin-top: 20px;
}

a:link {
    color: aliceblue;
    background-color: transparent;
    text-decoration: underline;
  }

a:visited {
    color: yellow;
  }


.face{
  margin-top: 20px;
  border-radius: 50%;
}
