.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.Sidebar {
    text-align: center;
    height:100%;
    background-color: navy;
    color: aliceblue;
    top:0;
    flex-grow: 1;
}

.RightSide{
    text-align: center;
    height: 100%;
    background-color:beige;
    flex-grow: 20;
    
}

body{
    margin:0;
    padding:0;
}
